body {
    padding-top: 40px;
    font-family: "Times New Roman",
    Times, serif;
    text-align: center;
    color: navy;
    background-image: url(wallpaper.jpg);
    font-size: 20px;
}

a:link, a:visited  {
    color: rgb(0, 0, 153);
}
a:hover {
    color: rgb(0, 96, 255);
}

table {
    margin: auto;
    td {
        text-align: center;
       }
}

input {
     font-family: "Times New Roman";
     text-align: center;
     font-size: 18px;
     padding-top: 5px;
}

.forms {
    margin-bottom: 5px;
}
input[type=submit] {
    font-family: "Times New Roman";
    font-size: 18px;
    margin: 10px 0;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:300;
    border-radius:5px;
    width:20%;
}

.autocomplete {
  position: relative;
  background-color: #fff;
  width: 250px;
  margin: auto;
  cursor: pointer;
}

